/* Membuat container full width */
.kelola-user-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Heading lebih besar dan rata tengah */
.kelola-user-container h1 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  color: #000000;
}

/* Styling tombol tambah user */
.Kelola-User .action-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Membuat teks di tengah */
  font-size: 1rem;
  background-color: #007bff;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.tambah-user-button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.Kelola-User action-bar button:hover {
  transform: scale(1.05);
}

.Kelola-User button:focus {
  outline: none;
}

/* Input pencarian */
.kelola-user-container input[type="text"] {
  /* Pindahkan search bar ke kiri */
  display: block;
  width: 30%;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0;
  /* Pastikan di kiri */
}


.Kelola-User table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}


th {
  color: white;
  font-weight: bold;
  text-align: center;
}

table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #555;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
  /* Warna abu-abu muda untuk baris genap */
}

table tr:nth-child(odd) {
  background-color: #ffffff;
  /* Warna putih untuk baris ganjil */
}
.aksi-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Tombol Aksi */
.kelola-user-container .pagination {
  text-align: center;
  margin-top: 20px;

}

.pagination-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-btn.active {
  background-color: #0056b3;
  font-weight: bold;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

/* Tombol detail dan delete */
.kelola-user-container button {
  font-size: 14px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

button.info {
  background-color: #007bff;
  color: white;
  width: 1rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.delete {
  background-color: #dc3545;
  color: white;
  width: 1rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.info:hover {
  background-color: #007bff;
}

button.delete:hover {
  background-color: #c82333;
}
.form-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}