.detail-penyedia-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

.kembali-btn {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.kembali-btn:hover {
    background-color: #5a6268;
}