.login-logo {
  width: 180px;
  height: auto;
  margin-bottom: 1rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('../../assets/balaikota.jpg');
  background-position: right 2%;  /* Move background to the right */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #333;
  overflow: hidden;
}

.login-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.login-card h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem;
  font-weight: bold;
  text-align: center;
  color: transparent;
  background: linear-gradient(135deg, #0a0a0a, #00020a);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#login-form input[type="text"], 
#login-form input[type="password"] { 
  border: 2px solid #ddd; 
  border-radius: 12px; 
  padding: 0.8rem; 
  font-size: 1rem; 
  margin-bottom: 1rem; 
  width: 100%; 
  transition: all 0.3s ease; 
}

#login-form input[type="text"]:focus, 
#login-form input[type="password"]:focus { 
  border-color: #f9cb71; 
  box-shadow: 0 0 8px rgba(116, 235, 213, 0.5); 
  outline: none; 
}

#login-form button { 
  background: linear-gradient(135deg, #f9cb71, #acb6e5); 
  border: none; 
  color: white; 
  font-size: 1.2rem; 
  font-weight: bold; 
  padding: 0.8rem; 
  border-radius: 12px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  animation: backgroundAnimation 4s infinite alternate; 
}

input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 7px;
  padding: 12px 15px;
  height: 45px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #ff6e31;
  box-shadow: 0 0 8px rgba(116, 235, 213, 0.5);
  outline: none;
}

button {
  width: 100%;
  box-sizing: border-box;
  background-color: #ff6e31;
  border: none;
  color: white;
  padding: 12px 15px;
  height: 45px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #ff5331;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.98);
}
.error-popup {
  color: red;
  background-color: #fdd;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 10px;
}
